.btnImg {
  width: 100px;
  border-radius: 20px;
}

@media (max-width: 800px) {
  .btnImg {
    width: 400px;
    margin: auto;
  }
}

h1 {
  text-align: center;
}

table,th,td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}

.btnFig {
  margin-left: auto;
  margin-right: auto;
}

pre {
    font-size: 1em;
    font-family: Arial;
}

#divHeader, #divHeader2 {
  z-index: 100;
  position: fixed;
  top: 0px;
  opacity: 100%;
  background: gray;
}

#divMain {
  position: relative;
  top: 100px;
}

/* Navigation bar */
.nav  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightblue;
  position: relative;
  top: 0;
  width: 100%;
}

.navli {
   float: left;;
}

.navli a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navli a:hover:not(.active) {
  background-color: darkblue;
  color: white;
}

.navli .active {
  background-color: blue;
}

/*For collapsible*/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: lightskyblue;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  font-family: Arial;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: deepskyblue;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
}
