      body {
        font-size: 100%
        padding: 30px;
      }
      
      h2 {
        text-align: center;
      }

      hr {
        width: 80%;
        height: 3px;
        color: blue;
        background-color: blue;
      }
      .hr1 {
        width: 50%;
        height: 1px;
        color: blue;
        background-color: blue;
      }

      pre {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        white-space: normal;
      }

      .coreconcepts,.roots,.websites,.nav, pre {
            font-family: Helvetica;
            font-size: 20px;
      }

      .roots th {
          background: blue;
          color: white;
          }

       .roots {
             margin: auto;
       }

      .roots table{
            margin: auto;
      }
          

        @media (max-width: 800px) {
          .divAdjust {   
            font-size: 2em;
            max-width: 100%;
          }

          .pix {
            max-width: 100%;
            height: auto;
          }

          pre {
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            white-space: normal;
          }
 
          #concepts, #content {
            max-width: 100%;
          }

          
        
        }
