<h4>Contamination</h4>
<input type = "radio" id = "contamination1" name = "contamination" checked = "true" onchange = "copytext()" value = "There was no contamination or foreign body in the wound. ">
<label for = "contamination1">There was no contamination.</label><br>
<input type = "radio" id = "contamination2" name = "contamination" onchange = "copytext()" value = "There was a small amount of contamination in the wound that was easily cleaned out. ">
<label for = "contamination2">There was a small amount of contamination in the wound that was easily cleaned out.</label><br> 
<input type = "radio" id = "contamination3" name = "contamination" onchange = "copytext()" value = "[DESCRIPTION OF CONTAMINATION]">
<label for = "contamination2">[Description of contamination]</label><br> 
<br>
