<div class="boxed" value = "Location">

<input type="text" id = "location" list="location_list" onchange="copytext()"><br><br>

    
<input type="checkbox" id = "useExact">Use location exactly as entered
<datalist id="location_list">
</datalist>
</div>
<script src="dropdown.js"></script>

<!--
<label for = "location">Location</label><br>
<input type="text" id = "location" list="location_list" onchange="copytext()"><br><br>


<datalist id="location_list">
</datalist>
<input type="checkbox" id = "useExact" onchange="copytext()">Use location exactly as entered

<script src="..\dropdown.js"></script>

-->
