    <label for="anesthetic">Anesthetic</label>
    <select id = "anesthetic" onchange="copytext()">
      <option>1% lidocaine</option>
      <option>1% lidocaine with epinephrine</option>
      <option>2% lidocaine</option>
      <option>2% lidocaine with epinephrine</option>
    </select><br><br>

    <label for="volume">Volume</label><br>
    <select id = "volume" onchange="copytext()">
      <option>5</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select><br><br>
