<h4>Anesthetic</h4>
<input type = "radio" id = "anesthetic1" name = "anesthetic" onchanged = "copytext()">
<label for = "anesthetic1">1% lidocaine</label>
<input type = "radio" id = "anesthetic2" name = "anesthetic" onchanged = "copytext()">
<label for = "anesthetic2">1% lidocaine with epinephrine</label>
<input type = "radio" id = "anesthetic3" name = "anesthetic" onchanged = "copytext()">
<label for = "anesthetic3">2% lidocaine</label>
<input type = "radio" id = "anesthetic4" name = "anesthetic" onchanged = "copytext()">
<label for = "anesthetic4">2% lidocaine with epinephrine</label>


<label for="volume"><b>Volume</b></label><br>
<select id = "volume" onchange="copytext()">
  <option>5</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
  <option>8</option>
  <option>9</option>
  <option>10</option>
</select><br><br>
