    <h4>Consent</h4>
    <input type = "radio" name = "consent" value = "0" id = "consent" onchange = "copytext()">
    <label for = "0">Due to the patient's critical condition, consent could not be obtained.</label><br>
    <input type = "radio" name = "consent" checked value = "1" id = "consent" onchange = "copytext()">
    <label for = "1">The patient provided verbal consent for the procedure.</label><br>
    <input type = "radio" name = "consent" value = "2" id = "consent" onchange = "copytext()">
    <label for = "2">The risks, benefits and alternatives were discussed with the patient who provided written consent.</label><br>
    <br>
