<div class="boxed" value="Consent">
    <br>
<input type = "radio" name = "consent" value = "Due to the patient's critical condition, informed consent could not be obtained. " id = "consent1" onchange = "copytext()">
<label for = "consent1">Due to the patient's critical condition, informed consent could not be obtained.</label><br>
<input type = "radio" name = "consent" value = "The risks, benefits and alternatives were discussed with the patient who provided verbal consent for the procedure. " id = "consent2" onchange = "copytext()">
<label for = "consent2">Verbal consent</label><br>
<input type = "radio" name = "consent" value = "The risks, benefits and alternatives were discussed with the patient who provided written consent for the procedure. " id = "consent3" onchange = "copytext()">
<label for = "consent3">Written consent</label><br>
<input type = "radio" name = "consent" value = " " id = "consent4" onchange = "copytext()">
<label for = "consent4">Do not mention consent in procedure note</label>

<h5>Parental Consent</h5>
<input type = "radio" name = "consent" checked value = "The risks, benefits and alternatives were discussed with the patient's parent who provided verbal consent for the procedure. " id = "consent5" onchange = "copytext()">
<label for = "consent5">Parental verbal consent</label><br>
<input type = "radio" name = "consent" value = "The risks, benefits and alternatives were discussed with the patient's parent who provided written consent for the procedure. " id = "consent6" onchange = "copytext()">
<label for = "consent6">Parental written consent</label><br>
<br>
</div>
<script>
    checkConsent(consentFlag);
</script>
