<div id="div_anesthetic"></div>
<h4>Anesthetic technique</h4>
<input type="radio" name = "anesthetic technique" id = "antech1" value = "true" onchange = "copytext()">
<label for = "antech1">Digital block</label><br>
<input type="radio" name = "anesthetic technique" id = "antech2" value = "2" onchange = "copytext()">
<label for = "antech2">Local</label><br>
<br>
<input type = "checkbox" id = "aspiration"><label for ="aspiration">To avoid injection into a blood vessel, aspiration was performed prior to injection.</label><br>

<script>
  anesthetic();
</script>
