<h4>Anesthetic technique</h4>
<input type = "checkbox" id = "anestheticTechnique" onchange = "toggleDigitalBlock(); copytext()">
<label for = "anestheticTechnique">A digital block was performed.</label><br>
<br>
<div id = "div_digitalblock">
  <div id="div_anesthetic"></div>

  <input type = "checkbox" id = "aspiration" onchanged = "copytext()">
  <label for ="aspiration">To avoid injection into a blood vessel, aspiration was performed prior to injection.</label><br>
</div>
<script>
  anesthetic();
  function toggleDigitalBlock(){
    if (getValue('antech1')) {
      document.getElementById('div_digitalblock').style.display = "block";
    }
    else {
      document.getElementById('div_digitalblock').style.display = "none";
    }
  }
</script>
