<h4>Digit</h4>
<input type = "radio" id = "finger1" name = "finger" onchange = "copytext()">
<label for = "finger1">1st</label><br>
<input type = "radio" id = "finger2" name = "finger" onchange = "copytext()">
<label for = "finger2">2nd</label><br>
<input type = "radio" id = "finger3" name = "finger" onchange = "copytext()">
<label for = "finger3">3rd</label><br>
<input type = "radio" id = "finger4" name = "finger" onchange = "copytext()">
<label for = "finger4">4th</label><br>
<input type = "radio" id = "finger5" name = "finger" onchange = "copytext()">
<label for = "finger5">5th</label><br>
<br>
