    <h4>Results</h4>
    <table>
        <td style="width: 50%; vertical-align: top;">
            <label for = "description">Fluid description</label>
            <select id = "description" onchange = "copytext()">
              <option value = "clear">clear</option>
              <option value = "purulent">purulent</option>
              <option value = "bloody">bloody</option>
            </select><br><br>
        </td>
        <td style="width: 50%; vertical-align: top;">
            <label for = "volume2">Volume</label>
            <select id = "volume2" onchange = "copytext()">
              <option value = "10">10</option>
              <option value = "20">20</option>
              <option value = "30">30</option>
              <option value = "40">40</option>
              <option value = "50">50</option>
              <option value = "60">60</option>
              <option value = "70">70</option>
              <option value = "80">80</option>
              <option value = "90">90</option>
              <option value = "100">100</option>
              <option value = "110">110</option>
              <option value = "120">120</option>
            </select><br><br>
        </td>
</table>
