    <label for = "npo_time"><b>Hours that patient had been NPO</b></label><br>
    <select id = "npo_time" onchange = "copytext()">
      <option value = "1">1</option>
      <option value = "2">2</option>
      <option value = "3">3</option>
      <option value = "4">4</option>
      <option value = "5">5</option>
      <option value = "6">6</option>
      <option value = "7">7</option>
      <option value = "8">8</option>
      <option value = "9">9</option>
      <option value = "10">10</option>
      <option value = "11">11</option>
      <option value = "12">12</option>
    </select><br><br>
    
    <label for = "dose"><b>Dose of Etomidate</b></label><br>
    <select id = "dose" onchange = "copytext()">
      <option value = "1">1 cc</option>
      <option value = "2">2 cc</option>
      <option value = "3">3 cc</option>
      <option value = "4">4 cc</option>
      <option value = "5">5 cc</option>
      <option value = "6">6 cc</option>
      <option value = "7">7 cc</option>
      <option value = "8">8 cc</option>
      <option value = "9">9 cc</option>
      <option value = "10">10 cc</option>
    </select><br><br>
