    <h4>Results</h4>
    <table>
        <td style="width: 50%">
            <label for = "description">Fluid description</label>
            <select id = "description" onchange = "copytext()">
              <option value = "clear">clear</option>
              <option value = "purulent">purulent</option>
              <option value = "bloody">bloody</option>
            </select><br><br>
        </td>
        <td style="width: 50%">
            <label for = "volume2">Volume</label>
            <select id = "volume2" onchange = "copytext()">
              <option value = "1">1</option>
              <option value = "2">2</option>
              <option value = "3">3</option>
              <option value = "4">4</option>
              <option value = "5">5</option>
              <option value = "6">6</option>
              <option value = "7">7</option>
              <option value = "8">8</option>
              <option value = "9">9</option>
              <option value = "10">10</option>
              <option value = "11">11</option>
              <option value = "12">12</option>
            </select><br><br>
        </td>
</table>
