<h4>Preparation</h4>
<input type = "radio" id = "cleaned" name = "clean" checked onchange="copytext()" value = "cleaned">
<label for = "cleaned">Cleaned</label><br>
<input type = "radio" id = "irrigated" name = "clean" onchange="copytext()" value = "irrigated">
<label for = "irrigated">Irrigated</label><br><br>

<h4>Betadine used</h4>
<input type = "radio" id = "nobetadine" name = "betadine" checked onchange="copytext()" value = "not used">
<label for = "nobetadine">No</label><br>
<input type = "radio" id = "betadine" name = "betadine" onchange="copytext()" value = "used">
<label for = "betadine">Yes</label><br><br>
