<div class='boxed woundpreparation'>
  <table style="width: 800">
  <td style="width: 50%; vertical-align: top;">
    <h4>Preparation</h4>
    <input type = "radio" id = "cleaned" name = "clean" checked onchange="copytext()" value = "cleaned">
    <label for = "cleaned">Cleaned</label><br>
    <input type = "radio" id = "irrigated" name = "clean" onchange="copytext()" value = "irrigated">
    <label for = "irrigated">Irrigated</label><br>
        <input type = "radio" id = "both" name = "clean" onchange="copytext()" value = "cleaned and irrigated">
    <label for = "irrigated">Cleaned and irrigated</label><br><br>
  </td>
  <td style="width: 50%;  vertical-align: top;">
    <h4>Antiseptic used</h4>
    <input type = "radio" id = "betadine1" name = "betadine" value = "none" onchange="copytext()">
    <label for = "betadine1">No antiseptic</label><br>
    <input type = "radio" id = "betadine2" name = "betadine" value = "betadine" onchange="copytext()">
    <label for = "betadine2">Betadine</label><br>
    <input type = "radio" id = "betadine3" name = "betadine" value = "chlorhexidine" onchange="copytext()">
    <label for = "betadine3">Chlorhexidine</label><br><br>
  </td>
</table>
</div>
