body, centered {
	display: flex;
	justify-content: center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	height: 100%;
	padding: 20px;
	background-color: lightblue;
}

.header button {
	width: 200px;
}

.header button:hover {
	background-color: lightgray;
}

.subtext {
	font-size: 12px;
	color: gray;
}

.radiobutton {
	list-style-type: none;
	margin: 25px 0 0 0;
	text-align: center;
	padding: 0;
}

.radiobutton li {
	float: left;
	margin: 0 5px 0 0;
	width: 100px;
	height: 50px;
	position: relative;
}

.radiobutton label,
.radiobutton input {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: lightgray;
}

.radiobutton input[type="radio"] {
	opacity: 0.01;
	z-index: 100;
}

.radiobutton input[type="radio"]:checked+label,
.Checked+label {
	background: lightgreen;
}

.radiobutton label {
	padding: 5px;
	border: 1px solid #CCC;
	border-radius: 5px;
	cursor: pointer;
	z-index: 90;
}

.radiobutton label:hover {
	background-color:  gray;
}

table, td {
	padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-collapse: collapse;
}

.td1 {
width: 200px;
}

.td2 {
width: 350px;
}

.centered {
	margin: auto;
}

textarea {
	width: 500px;
	height: 100px;
}

.score {
	width: 480px;
	height: 50px;
	background-color: green;
	border-radius: 5px;
	color: white;
	font-size: 24px;
	margin-bottom: 30px;
	margin-left: 20px;
	padding-top: 25px;
	padding-bottom: 15px;
	vertical-align: center;
}

.smallscore {
  font-size: 16px;
  color: white;
  margin-left: 10px;
}

h3, h4, .score ,p{
	text-align: center;
}
