.tested::before {
  content: 'Status:';
}

.dateChanged::before {
  content: 'The generated text was last changed on ';
}

.meetsStandard1::after {
  content: 'This webpage conforms to the standard as of 12/6/22';
  /*
  has title
  has css
  text correct
  has footer
  has copy button
  */
}

meetsStandard2::after {
  content: 'This webpage conforms to the standard as of 12/12/99';
  /*
  displays when not all require fields are completed
  */
}

.hasBeenCopied::after {
  zposition: fixed;
  zright: 600px;
  ztop: 500px;
  content: 'This text has been copied to the clipboard and is ready to be pasted in your document.\AIf you have edited the text, you can copy it to the clipboard with the button below.';
  font-weight: bold;
  white-space: pre;
}

.copyBtn {
  zposition: fixed;
  ztop: 550px;
  zright: 600px;
  margin-top: 20px;
  margin-bottom: 80px;
}

.copyBtn::after {
  content: 'Copy Edited Text';
}

h3 {
  text-align: center;
}

label::before {
  content: '\A';
}

label::after {
  content: '\A';
}

.textarea {
  position: fixed;
  right: 20px;
  top: 50px;
}

textarea {
  width: 500px;
  height: 200px;
}

smalltextarea {
  width: 40px;
  height: 20px;
}

footer {
  background-color: lightblue;
  opacity: 50%;
  position: fixed;
  margin-top: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
