.tested:: before {
  content: 'Status:';
}

.dateChanged:: before {
  content: 'The generated text was last changed on ";
}

footer {
  background-color: lightblue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
