table, th, td {
  font-size:  30px;
  border-collapse:  collapse;
  border:  1px solid black;
}

p {
  font-size: 30px;
}

pre {
  font-size: 30px;
}

textarea {
  font-size: 30px;
}

.pagetitle {
	font-size:  2em;
	font-weight: bold;
	text-align: center;
	}

.directory {
	padding: 20px;
	font-size: 1em;
	margin: auto;
	width: 33%;
	border: 1px solid blue;
}


.policyblock {
	border: 1px solid black;
	border-radius: 3px;
	padding: 10px;
	font-family: Arial;
	font-size: 1em;
	margin: 20px;
	
}

.policysectiontitle::before {
	content: '\A';
	white-space: pre;
}

.policysectiontitle {
	font-size: 1.2em;
	font-family: Arial;
	font-weight: bold;
	}

.policybody {
	font-family: Arial;
	}

.policy{

}

.policytitle {
	font-size: 1em;
	font-weight: bold;
	white-space: pre;
}

.policytext {
	font-size: 1em;
	text-indent: 45px;
	width: 80%
}

.policysource {
	font-size: .8em;
	font-style: italic;
	text-align: right;
}

.policydate {
	font-size: .8em;
	font-style: italic;
}

#template {
	display: none;
}
